* {
    margin: 0;
    padding: 0;
    user-select: none;
}

p {
    color: #efefef;
    font-size: 16px;
}

.bg {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background:
        radial-gradient(at 20% 20%, #ff9daf41 0px, transparent 40%),
        radial-gradient(at 30% 70%, #ffc18a41 0px, transparent 40%),
        radial-gradient(at 50% 70%, #53d2fd41 0px, transparent 40%),
        radial-gradient(at 90% 86%, #b69cfd41 0px, transparent 40%),
        radial-gradient(at 70% 30%, #53d2fd41 0px, transparent 40%),
        #121212;
}

#defaultCanvas0 {
    opacity: .8;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    outline: 3px solid #ffffff20;
    box-shadow: 1px 1px 16px #0000002d;
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff17;
    border-radius: 4px;
}